/* styles.css */
.product-list-container {
    background-image: url('../../images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%; /* Asegura que ocupe todo el alto disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño */
}
