.background-container {
	position: fixed; /* Hace que el fondo esté fijo y ocupe toda la pantalla */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('../../images/login.jpg') no-repeat center center; /* Agrega la imagen de fondo */
	background-size: cover; /* Hace que la imagen cubra toda la pantalla */
	z-index: -1; /* Coloca el fondo detrás de todos los elementos. */
}
